<footer class="site-footer">
<div class="columns is-centered is-mobile container is-fluid">
<div class="column is-4">
  <ul class="icons">
    
      <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
    
      <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
    
      <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagramm</span></a></li>
    
      <li><a href="#" class="icon alt fa-dribbble"><span class="label">Dribbble</span></a></li>
    
      <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    
  </ul>
  <ul class="copyright">
    
      <li>© Rohit Goswami</li>
    
      <li>Design: <a href="//github.com/HaoZeke">Rohit Goswami</a></li>
    
      <li>Images: <a href="//wallhaven.cc/">Wallhaven</a></li>
    
  </ul>
  </div>
  </div>
</footer>