section.hero.is-medium.is-bold.myHero
	.hero-body
		.container.has-text-centered
			h1.title {{ page.title }}
			h2.subtitle {{ page.subtitle }}
	//- .hero-body.container
	//- h1.title Pranjal For Lit
	//- h2.subtitle	Test