---
layout: default
pagination: 
  enabled: true
title: The Litanjal Team
permalink: /team/
---

.columns.is-centered.is-mobile.wrap
	| {% for member in site.data.members %}
	.column.isFixedFlex
		.card.cardEqualizer
			.card-image
				| {% img '{{ member.image }}' %}
			.card-content
				.media
					.media-content
						p.title.is-4 {{ member.name }}
						p.subtitle
							em {{ member.year }}, 
							| {{ member.branch }}.
				.content.is-centered
					a.button.is-warning.modal-button(data-target='#modal{{ forloop.index0 }}') Credentials
					.modal#modal{{ forloop.index0 }}
						.modal-background
						.modal-card
							header.modal-card-head
								p.modal-card-title {{ member.name }}
								button.delete.modal-button(data-target='#modal{{ forloop.index0 }}' aria-label='Del')
							section.modal-card-body
								ul.cred
									| {% for notable in member.notables %}
									li {{ notable.cred }}
									| {% endfor %}
							footer.modal-card-foot
								button.button.modal-button(data-target='#modal{{ forloop.index0 }}') Close
	| {% endfor %}

